<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(planets:planets)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Planet Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="planet" lines="inset">
      <ion-item color="dark">
        <h2>{{planet.name}}</h2>
      </ion-item>
      <ion-item>
        <ion-label>Population:</ion-label>
        <ion-note slot="end" color="primary">{{planet.population}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Terrain:</ion-label>
        <ion-note slot="end" color="primary">{{planet.terrain}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Climate:</ion-label>
        <ion-note slot="end" color="primary">{{planet.climate}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Rotational Period:</ion-label>
        <ion-note slot="end" color="primary">
          {{planet.rotation_period}}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Orbital Period</ion-label>
        <ion-note slot="end" color="primary">
          {{planet.orbital_period}}
        </ion-note>
      </ion-item>
    </ion-list>
</ion-content>
