<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(people:people)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="person" lines="inset">
    <ion-item color="dark">
      <h2>{{person.name}}</h2>
    </ion-item>
    <ion-item>
      <ion-label>Birth Year:</ion-label>
      <ion-note slot="end">{{person.birth_year}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Gender:</ion-label>
      <ion-note slot="end">{{person.gender}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Mass:</ion-label>
      <ion-note slot="end">
        {{person.mass}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Height:</ion-label>
      <ion-note slot="end">
        {{person.height}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Hair Color:</ion-label>
      <ion-note slot="end">{{person.hair_color}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Eye Color:</ion-label>
      <ion-note slot="end">{{person.eye_color}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>